<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Đăng nhập</title>
</head>
<body>
   <form action="/home" method="post">

      <input type="text" placeholder="Tên đăng nhập" name="username" title="Thử nghiệm cho phép mọi tài khoản" required><br><br>

      <input type="password" placeholder="Mật khẩu" name="password" title="Thử nghiệm cho phép mọi tài khoản" required><br><br>

      <button type="submit">Đăng nhập</button>
   </form>
</body>
</html>
