<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form action="/test" method="post">
        <p>Name  <input type="text" name="name"></p>
        <p>Sex   <input type="text" name="sex"></p>
        <p>Age   <input type="int" name="age"></p>
        <p>Class <input type="text" name="class"></p><br>

        <input type="submit" name="submit">

    </form>
</body>
</html>